<a href="https://colab.research.google.com/github/Prajwalrajm/MSc-Project-ML-Regression-Model/blob/master/Linear_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing Pandas Library**

In [0]:
import pandas as pd

**Mounting Google Drive to access data**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

**Read data from Drive**

In [0]:
Linear =pd.read_csv('/content/drive/My Drive/Colab Notebooks/Mileage_data.csv')

**Converting Categorical values in 'One Hot Encoding'**

In [0]:
Linear_onehot = pd.get_dummies(Linear)

In [18]:
Linear_onehot.columns

Index(['TIS', 'Model_year', 'mileage', 'model_line_C/2D', 'model_line_C/2H',
       'model_line_C/2R', 'model_line_C/2Z', 'model_line_C/4N',
       'model_line_T/3A', 'model_line_T/3B', 'model_line_T/3D',
       'model_line_T/4A', 'model_line_T/LH', 'model_line_T/LK',
       'model_line_T/LS', 'model_line_T/LX'],
      dtype='object')

**Creating X and Y co-efficient**

In [0]:
X = Linear_onehot[['TIS', 'Model_year', 'model_line_C/2D', 'model_line_C/2H',
       'model_line_C/2R', 'model_line_C/2Z', 'model_line_C/4N',
       'model_line_T/3A', 'model_line_T/3B', 'model_line_T/3D',
       'model_line_T/4A', 'model_line_T/LH', 'model_line_T/LK',
       'model_line_T/LS', 'model_line_T/LX']].values
y = Linear_onehot['mileage'].values

**Splitting dataset into train and test sets**

In [0]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

**Model Sectiona and Fit**

In [13]:
#importing Linear Regression model
from sklearn.linear_model import LinearRegression
Linearmodel = LinearRegression()
Linearmodel.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

**Prediction**

In [0]:
y_pred_linear = Linearmodel.predict(X_test)

**Calculating 'Root Mean squeared Error'**

In [16]:
import numpy as np
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred_linear)
rmse = np.sqrt(mse)

print(rmse)

5024.105915863742

**Created data set with actual and predicted value**

In [0]:
compare_linear = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred_linear})

In [17]:
compare_linear.head(10)

   Actual     Predicted
0   10398   9924.145805
1   17445  16417.970291
2   31471  38823.670448
3   19994  28782.500957
4   25977  29323.688656
5   24761  23759.371216
6   11249  13343.834239
7   26130  29923.908715
8    1090   3134.146172
9    4030   5283.573671