In [2]:
#Import Pandas and BigQuery
import pandas as pd
from google.cloud import bigquery
client =bigquery.Client()

In [110]:
 #Quering bigquery to access data and creating dataset
    
query = '''select TIS, Model_year, model_line, country, mileage from `analytics-univ.vehicle.vehicle`
where mileage < 1000
'''
vehicle =client.query(query).to_dataframe()

In [99]:
#Number of rows and columns in dataset
vehicle.shape

(6825, 5)

In [79]:
#column name in dataset
vehicle.columns

Index(['TIS', 'Model_year', 'model_line', 'country', 'mileage'], dtype='object')

In [80]:
#Datatypes of avaiable feature variables 
vehicle.dtypes

TIS            int64
Model_year     int64
model_line    object
country       object
mileage        int64
dtype: object

In [111]:
#Converting categorical feature values to one hot encoding
dummies = pd.get_dummies(vehicle)

In [112]:
dummies.columns

Index(['TIS', 'Model_year', 'mileage', 'model_line_C/2D', 'model_line_C/2H',
       'model_line_C/2R', 'model_line_C/2Z', 'model_line_C/4N',
       'model_line_T/3A', 'model_line_T/3B', 'model_line_T/3D',
       'model_line_T/4A', 'model_line_T/LH', 'model_line_T/LK',
       'model_line_T/LS', 'model_line_T/LX', 'country_AUS', 'country_CAN',
       'country_CHN', 'country_DEU', 'country_ESP', 'country_GBR',
       'country_ITA', 'country_RUS', 'country_USA', 'country_ZAF'],
      dtype='object')

In [113]:
X = dummies[['TIS', 'Model_year', 'mileage', 'model_line_C/2D', 'model_line_C/2H',
       'model_line_C/2R', 'model_line_C/2Z', 'model_line_C/4N',
       'model_line_T/3A', 'model_line_T/3B', 'model_line_T/3D',
       'model_line_T/4A', 'model_line_T/LH', 'model_line_T/LK',
       'model_line_T/LS', 'model_line_T/LX', 'country_AUS', 'country_CAN',
       'country_CHN', 'country_DEU', 'country_ESP', 'country_GBR',
       'country_ITA', 'country_RUS', 'country_USA', 'country_ZAF']].values
y = dummies['mileage'].values

In [114]:
dummies.shape

(10485, 26)

In [115]:
#Splitting dataset into train and test sets
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [116]:
#importing Linear Regression model
from sklearn.linear_model import LinearRegression
Linearmodel = LinearRegression()
Linearmodel.fit(X_train,y_train)
y_pred = Linearmodel.predict(X_test)

In [121]:
X_test.shape

(2097, 26)

In [118]:
# Calculating RMSE 

import numpy as np
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print(rmse)

1.0780740784233617e-13

In [119]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

In [120]:
df

      Actual  Predicted
0         43       43.0
1        863      863.0
2          9        9.0
3        896      896.0
4        173      173.0
...      ...        ...
2092     230      230.0
2093      88       88.0
2094     610      610.0
2095      25       25.0
2096     317      317.0

[2097 rows x 2 columns]