In [1]:
#Import Pandas and BigQuery
import pandas as pd
from google.cloud import bigquery
client =bigquery.Client()

In [3]:
 #Quering bigquery to access data and creating dataset
query = '''SELECT * FROM `analytics-univ.vehicle.vehicle` 
 '''
vehicle =client.query(query).to_dataframe()

In [4]:
#Number of rows and columns in dataset
vehicle.shape

(426083, 9)

In [5]:
#column name in dataset
vehicle.columns

Index(['TIS', 'Model_year', 'model_line', 'transmission', 'engine',
       'body_style', 'country', 'drive', 'mileage'],
      dtype='object')

In [7]:
#No of entries vs no of non-null observation
vehicle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426083 entries, 0 to 426082
Data columns (total 9 columns):
TIS             426083 non-null int64
Model_year      426083 non-null int64
model_line      426083 non-null object
transmission    426083 non-null object
engine          426083 non-null object
body_style      426083 non-null object
country         426083 non-null object
drive           426083 non-null object
mileage         426083 non-null int64
dtypes: int64(3), object(6)
memory usage: 29.3+ MB

In [8]:
#Statistical summary of numerical variables/features 
vehicle.describe()

                 TIS     Model_year        mileage
count  426083.000000  426083.000000  426083.000000
mean       24.425246      16.700847   22512.754475
std        12.145423       1.082950   15963.143778
min        -1.000000      12.000000       1.000000
25%        15.000000      16.000000   10890.000000
50%        26.000000      17.000000   20517.000000
75%        34.000000      17.000000   32315.000000
max        63.000000      20.000000  785298.000000

In [9]:
#Finiding missing values for all features
vehicle.isnull().sum()

TIS             0
Model_year      0
model_line      0
transmission    0
engine          0
body_style      0
country         0
drive           0
mileage         0
dtype: int64

In [11]:
vehicle.notnull().sum()

TIS             426083
Model_year      426083
model_line      426083
transmission    426083
engine          426083
body_style      426083
country         426083
drive           426083
mileage         426083
dtype: int64