In [3]:
import pandas as pd

data = pd.read_csv(r"C:\Users\Prajwalraj M\Desktop\VEHICLE_DATA.csv")
print('data shape:', data.shape)
data.head()

data shape: (3947484, 8)

,Month_IN_SERVICE,V_MODEL_YEAR_CODE,V_VML_CODE,V_TRANSMISSION_CODE,V_ENGINE_CODE,V_BODY_STYLE_CODE,V_DRIVE_CODE,I_MILEAGE
0,93,12,T/LS,VQ,Q1,ES,ALL,49057
1,90,12,T/LS,VQ,Q1,ES,ALL,32966
2,90,12,T/LS,VQ,Q1,ES,ALL,33835
3,93,11,T/LS,VQ,Q1,ES,ALL,45803
4,93,11,T/LS,VQ,Q1,ES,ALL,42122

In [4]:
data.dtypes

Month_IN_SERVICE        int64
V_MODEL_YEAR_CODE       int64
V_VML_CODE             object
V_TRANSMISSION_CODE    object
V_ENGINE_CODE          object
V_BODY_STYLE_CODE      object
V_DRIVE_CODE           object
I_MILEAGE               int64
dtype: object